# {{ ansible_managed }}

################################################################################
# File:    zzz-myconf
# Version: 0.1
# Purpose: Munin custom config
#          we set custom munin configs in 'zzz-myconf' per this doc
#           * http://guide.munin-monitoring.org/en/latest/plugin/use.html#configuring
# Author:  Michael Altfield <michael@michaelaltfield.net>
# Created: 2024-09-14
# Updated: 2024-09-14
################################################################################

[nginx_*]
env.url http://127.0.0.1/nginx_status

[apache_*]
env.url   http://127.0.0.1:%d/server-status?auto
env.ports 8000

[mysql*]
env.mysqlopts -u munin
env.mysqluser munin

[multips_memory]
env.names mysqld apache2 cache-main ossec-analysisd wazuh-db ossec-syscheckd munin-node munin-html munin-update nginx ssh sshd pickup journalctl trivial-rewrite systemd-journal varnishd wazuh-modulesd unattended-upgrades bash sudo tcpdump varnishlog ossec-remoted systemd-logind su dhclient ossec-authd ossec-execd ossec-logcollector ossec-maild ossec-monitord screen (sd-pam) systemd cleanup qmgr tlsmgr rewrite bounce defer trace verify flush proxymap proxywrite smtp relay showq error retry discard local virtual lmtp anvil scache submission grep tail rsyslogd systemd-udevd dbus-daemon gpg gpg2 cleanMega backup.sh rclone b2 chown chmod tar rm mv python agetty sh qemu-ga gpg-agent awstats.pl openvpn tuned vim polkitd

[varnish*]
user root
env.varnishstat /usr/bin/varnishstat

[proc]
env.procname mysqld apache2
