# {{ ansible_managed }}

################################################################################
# File:    phplist.opensourceecology.org.conf
# Version: 0.5
# Purpose: localhost-only-listening, http-only, name-based-vhost for serving
#          traffic to varnish
# Author:  Michael Altfield <michael@michaelaltfield.net>
# Created: 2018-08-20
# Updated: 2024-09-10
################################################################################

<VirtualHost 127.0.0.1:8000>

	ServerName phplist.opensourceecology.org

	CustomLog "/var/log/apache2/phplist.opensourceecology.org/access.log" combined
	ErrorLog "/var/log/apache2/phplist.opensourceecology.org/error.log"

	DocumentRoot "/var/www/html/phplist.opensourceecology.org/public_html"

	<Directory "/var/www/html/phplist.opensourceecology.org">
		Include 'conf-available/security.directory.include'
		Options +FollowSymLinks
	</Directory>

	<Directory "/var/www/html/phplist.opensourceecology.org/public_html">
		Include 'conf-available/security.directory.include'
	</Directory>

	Include 'conf-available/phplist.virtualhost.include'

</VirtualHost>

