# {{ ansible_managed }}

################################################################################
# File:    security.virtualhost.include
# Version: 0.4
# Purpose: File includes some common security-hardening that's intended to be
#          Include()d into other vhost files' <VirtualHost> blocks
# Author:  Michael Altfield <michael@michaelaltfield.net>
# Created: 2024-09-14
# Updated: 2025-02-16
################################################################################

	# don't execute any php files inside uploads directories
	<LocationMatch "/wp-content/uploads/">
		SetHandler !
	</LocationMatch>
	<LocationMatch "/wp-content/uploads/.*(?i)\.(cgi|shtml|php3?|phps|phtml)$">
		Require all denied
	</LocationMatch>

	<LocationMatch "/wp-content/tmp/">
		SetHandler !
	</LocationMatch>
	<LocationMatch "/wp-content/tmp/.*(?i)\.(cgi|shtml|php3?|phps|phtml)$">
		Require all denied
	</LocationMatch>

	<LocationMatch "/uploadimages/">
		SetHandler !
	</LocationMatch>
	<LocationMatch "/uploadimages/.*(?i)\.(cgi|shtml|php3?|phps|phtml)$">
		Require all denied
	</LocationMatch>

	<LocationMatch "/images/">
		SetHandler !
	</LocationMatch>
	<LocationMatch "/images/.*(?i)\.(cgi|shtml|php3?|phps|phtml)$">
		Require all denied
	</LocationMatch>

	# don't execute php files in W3 Total Cache's tmp dir
	<LocationMatch "/wp-content/cache/">
		SetHandler !
	</LocationMatch>
	<LocationMatch "/wp-content/cache/.*(?i)\.(cgi|shtml|php3?|phps|phtml)$">
		Require all denied
	</LocationMatch>

	# block dot (hidden) files
	<LocationMatch "/\.(?!well\-known)">
		SetHandler !
		Require all denied
	</LocationMatch>

	# block config files
	<LocationMatch "config.php">
		SetHandler !
		Require all denied
	</LocationMatch>

   # block access to 'wp-login.php' from brute-forcers
	# Note that we use the wordpress plugin 'melapress-login-security' to change
	# the actual URL for logging-in
	# * https://wiki.opensourceecology.org/wiki/Wordpress#MelaPress_Login_Security
   <LocationMatch ".*wp-login.php">
		Require all denied
   </LocationMatch>

