# {{ ansible_managed }}

################################################################################
# File:    whitelisted_domains.cf
# Version: 0.1
# Purpose: Postfix hash lookup file for domains that we trust and won't block
# Author:  Michael Altfield <michael@michaelaltfield.net>
# Created: 2024-09-15
# Updated: 2024-09-15
################################################################################

opensourceecology.org OK
openbuildinginstitute.org OK
